<%include partials/header%>

<div class="card">
        <div class="card-body">
        <h4 class="card-title text-center"><%=campground.name%></h4>
    <img class="card-img-bottom" src="<%=campground.img_url%>"></div>
    <div class="card-text text-center"><%=campground.description%></div>
    </div>


<%include partials/footer%>
